body {
    width: 90%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: rgb(61, 59, 59);
    
}

header{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 5%;
}

ul {
    list-style-type: none;
    padding: 0;
}
.gray {
    display: flex;
    color: gray;
    padding: 10px;
    font-size: calc(0.5rem + 0.5vw);
    text-align: center;
    justify-content: space-between;
}

header a {
    text-decoration: none;
    color: gray;
    padding: 5px;
}

.bee {
    margin: 20px;
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: calc(2.5rem + 2.5vw);
    color: rgb(61, 59, 59);
}

main {
    margin: 0 5%;
}

.home {
    display: flex;
    color: white;
    background-color: rgb(61, 59, 59);
    margin: 0;
}

.home li{
    display: inline-block;
    margin: 10px;
    padding: 10px;
    font-weight: 500;
    font-size: calc(0.5rem + 0.5vw);
}

.home a{
    color: aliceblue;
    text-decoration: none;
    font-size: calc(0.5rem + 0.5vw);
}

h2 {
    font-size: 3rem;
    font-weight: 900;
}

h3 {
    font-weight: 500;
}

.Big {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 5px;
}

.Big li{
    padding: 5px;
    position: relative;
}

.photo-name{
    color: white;

    width: 70%;

    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.photo-title{
    font-weight: 500;
    font-size: 3.5rem;

    margin: 0 auto;
    width: 70%;
}

.photo-text{
    width: 50%;
    margin: 0 auto;

    font-weight: 300;
    font-size: 1.2rem;
}

.s-photo-title{
    font-weight: 500;
    font-size: 2.5rem;

    margin: 0 auto;
    width: 100%;

}

.s-photo-text{
    width: 90%;
    margin: 0 auto;

    font-weight: 300;
    font-size: 1rem;

}

.Small {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 5px;
}

.Small li{
    position: relative;

    padding: 5px;
} 

.chapter{
    background-color: rgb(61, 59, 59);
    color: rgb(165, 163, 163);
    text-align: center;
    padding: 40px;
}

.container-media, .container-users, .container-form {
    max-width: 350px;
    min-width: 90%;
    height: 200px;
    border: 1px solid rgb(165, 163, 163);
    margin: 20px auto;
}

.container-form{
    min-width: 280px;
}

.container-users {
    height: 450px;
    flex-grow: 1;
}

.container-soc-media, .container-form {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 1;
}

.container-big,.container-big2 {
    display: flex;
}
  
.container-event, .container-news {
    display: flex;
    flex-direction: column;
    max-width: 810px;
    min-width: 390px;
    flex-shrink: 0;
    border: 1px solid rgb(165, 163, 163);
    margin: 20px auto;
}

.container-news {
    display: block;
    height: 350px;
    margin: 20px 0;
    min-width: 810px;
}

.container-form{
    height: 350px;
    width: 40%;
}

.container-lecture{
    width: 100%;
    margin: 30px 0;
    background-color: rgb(241, 241, 241);
}

.social, .users, .news, .event-title, .lec, .registration {
    color:rgb(29, 29, 29);
    text-transform: uppercase;
    border-bottom: 3px solid rgb(22, 22, 22);
    font-weight: normal;
    padding-bottom: 5px;
    position: relative;
    margin: 10px 15px;
}

.event-title{
    width: 45%;
}

.lec {
    width: 7%;
    padding: 10px;
}

.social:before, .users:before, .news:before, .registration:before{
  content: '';
  position: absolute;
  top: 100%;
  right: 0;
  border-bottom: 3px solid rgb(165, 163, 163);
  width: 50%;
}
.news:before{
    width: 70%;
}
.registration:before{
    width: 30%;
}

.container-media img {
    width: 100%;
    max-width: 45px;
}

.container-media p{
    text-align: left;
}

.container-media ul{
    display: flex;
    margin: 10%;
}

.container-media li{
    width: 45px;
    margin: auto;
}

.user-name, .user-job,.news-name, .news-content, .date{
    text-align: left;
    margin: 0;
    color: rgb(39, 39, 39);
}

.user-job, .news-content, .date{
    color: rgb(165, 163, 163);
    font-weight: 500;
}

.news-content, .date{
    font-size: 0.7rem;
}

.square{
    position: relative;

    width: 5rem;
    height: 5rem;
    background-color: rgb(255, 255, 255);
}

.square-img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}

.names{
    margin: 20px 10px;
}

.container-users ul{
    display: flex;
    margin: 5%;
    flex-direction: column;
}
.container-news ul{
    margin: 10px 5px;
}
.container-users li, .container-news li{
    display: flex;
}

.container-news li{
    border-bottom: 2px solid rgb(165, 163, 163);
    margin: 10px;
}

.new {
    margin: 2%;
}

.news-name{
    font-weight: normal;
    font-size: 1rem;
    text-transform: uppercase;
}

.container-news img{
    margin-bottom: 1%;
}

.class-event {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
}

.class-event li {
    width: 360px;
    height: max-content;
    margin: 15px 15px;
  }

.lecture1, .lecture2, .lecture3, .lecture4 {
    /* display: flex;
    align-items: flex-end; */
    position: relative;

    background-image: url(./images/Tile-Big-01.png);
    background-size: cover;
    width: 360px;
    height: 180px;
    border: 1px solid black;
    margin: 0;
}
.lecture2 {
    background-image: url(./images/Tile-Big-02.png);
}

.lecture3 {
    background-image: url(./images/Tile-Big-03.png);
}

.lecture4 {
    background-image: url(./images/Tile-Big-04.png);
}

.lecture2 .div-lecture {
    background-color: rgb(92,192,140);
}

.lecture3 .div-lecture {
    background-color: rgb(192,116,184);
}

.lecture4 .div-lecture {
    background-color: rgb(225,177,115);
}

.div-lecture{
    display: flex;
    align-items:center;
    justify-content: center; 
    background-color: rgb(70,142,218);
    width: max-content;
    height: 25px;
    padding: 0 10px;

    position: absolute;
    left: 0;
    bottom: 0;
    
}

.class-event h4{
    text-align: center;
    margin: 0;
    text-transform: uppercase;
    font-size: small;
    color: black;
    font-weight: 500;
}

.event-content {
    margin: 10px 0;
}

.video-ul{
    display: flex;
    margin: 5px;
    justify-content: center;
}

.video1, .video2, .video3, .video4{
    width: 280px;
    height: 200px;
    background-image: url(./images/video-01.png);
    margin: 10px;
}
.video2{
    background-image: url(./images/video-02.png);
}

.video3{
    background-image: url(./images/video-03.png);
}

.video4{
    background-image: url(./images/video-04.png);
}

.form-container{
    margin: 10px 15px;

}

.field-container{

    margin: 20px 0;
}

.input-form{
    padding: 10px 20px 10px 10px;
    width: 80%;
    border-radius: 5px;
    border: 2px solid rgb(197, 197, 197);

}

.button-more, .button-submit {
    padding: 10px;
    margin: auto;

    width: 250px;
    height: 50px;
    text-align: center;
    color: #f9f9f9;
    border-radius: 10px;
    border-style: solid;
    cursor: pointer;

    background: rgb(92,189,92);
    border-color: rgb(92,189,92);

}

.button-more{
    width: 50%;
    height: 10%;
}

.button-submit:hover, .button-more:hover  {
    box-shadow: 0 1px 2px 0 rgb(26 115 232 / 45%), 0 1px 3px 1px rgb(26 115 232 / 30%);
	background-color: rgb(77, 160, 77);
}

.button-submit:active, .button-more:active  {
	background-color: rgb(92,189,92);
}

.button-submit {
    width: 100px;
    margin-left: 20px;
}

@media (min-width: 414px) and (max-width: 768px){
    body{
       width: 100%;
       margin: 0 auto;
    }

    header {
        width: 90%;
        margin: 0 auto;
    }

    main {
        margin: 0;
    }

    main div:not(:nth-child(1)) {
        margin: 0 20px;
    }

    .container-menu{
        width: 100%;
        overflow: scroll;
    }

    .home li{
        margin: 9px;
        padding: 0;
    }
    
    .Big{
        flex-direction: column;
    }

    .Big, .Big li {
        margin: 0;
        padding: 0;
    }

    .Big img{
        width: 100%;
        margin: 0 auto;
    }

   /* .Big li:nth-child(1){
       margin-bottom: 120px;
   } */

   .Small img{
       width: 100%;
       margin: 0 auto;
   }

   /* #two,#three{
       position: relative;
       bottom: 360px;
       left: 3px;
   }
   #one{
       position: relative;
       left: 195px;

   }

   #four{
    position: relative;
    right: 185px;
   }
     */
   .container-big{
        flex-direction: column;

       height: 100%;
       margin: 0;
   }

   .class-event{
       flex-direction: column;
   }

   .container-soc-media{
       align-items: center;
   }

   #id-users{
       margin: 0;
   }

   #lecture{
       width: 100%;
       margin: 20px 0;
       overflow: scroll;
       flex-grow: 0;
       flex-shrink: 0;
   }

   .video-ul{
       justify-content: flex-start;
   }

   .container-news{
       display: none;
   }

   .container-big2{
       align-items: center;
       justify-content: center;
   }


   .button-submit{
       position: relative;
       top: 15px;
       left: 200px;
   }
}

@media (min-width: 768px) and (max-width: 1440px){

    body{
        width: 100%;
        margin: 0 auto;
    }
 
    header {
        width: 90%;
        margin: 0 15px;
    }
 
    main {
     margin: 0 15px;
    }
    
    .Big img{
        width: 100%;
        margin: 0 auto;
    }

    .Small img{
        width: 100%;
        margin: 0 auto;
    }

    .container-big{
        flex-grow: 0;
        flex-shrink: 0;
    }

    .lecture1, .lecture2, .lecture3, .lecture4{
        width: 100%;
        height: 90px;
        margin: 0;
    }

    .container-event {
        width: 60%;
    }
    
    .container-soc-media{
        height: 80%;
    }

    .class-event li{
        width: 40%;
    }
    .event-title {
        width: 85%;
    }

    .event-content {
        font-size: 0.7rem;
        width: 80%;
    }


    .container-media p{
        font-size: 0.8rem;
    }

    .container-users{
        height: 20%;
    }

    .video-ul{
        justify-content: start;
    }

    .video-ul li{
        width: 50%;
        height: 100%;
    }

    #lecture{
        width: 100%;
        margin: 20px 0;
        overflow: scroll;
        flex-grow: 0;
        flex-shrink: 0;
    }

    .container-news{
        min-width: 60%;
    }
}