@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;300;400;700&display=swap');

html,body{
    display: flex;
    flex-direction: column;
    background-color: #2B2C3A;
    font-family: 'Jost', sans-serif;

    margin: 0;
}

ul{
    list-style-type: none;
    padding: 0;
}

h4{
    color: #FFFFFF;
    margin: 0 auto;
    font-weight: 400;
}

header{
    box-shadow: 0px 0px 4px 0px rgb(65,66,80);
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    border: rgb(232, 232, 236);
    background-color: #2B2C3A;
}

.logo{
    margin: 20px 110px 15px 30px;
}

.box{
    width: 20%;
    max-width: 280px;
}

main{
    display: flex;
    
}

aside{
    position: fixed;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 20%;
    max-width: 280px;
    height: calc(100% - 108px);
    left: 0px;
    top: 0px;
    padding-top: 108px;

    background-color: rgba(156, 165, 236, 0.04);

    box-shadow: 0px 4px 4px 0px rgb(65,66,80);
    
}

.content{
    padding-left: 280px;
    padding-top: 78px;
    flex-grow: 1;

    height: 1000px;
}

.container-head{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}

.faq{
    display: flex;
    margin: 0;
    padding-left: 55px;

    text-transform: capitalize;
}

.faq li{
    margin-right: 20px;
    font-size: 100%;
    font-weight: 400;
    line-height: 10px;
    letter-spacing: 0px;
    text-align: left;   
}

a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
    color: rgb(125, 125, 126);
}
  
.link:focus {
    border-bottom: 1px solid;
    background: rgb(54, 54, 54);

}

.link:hover {
    border-bottom: 1px solid;
    background: rgb(139, 139, 139);
    color: #fff9f9;

}
  
.link:active {
    background: rgb(88, 87, 87);
    color: #fff9f9;
}

.support{
    display: flex;
    align-items: center;
    
    border-right-style: solid;
    border-right-color: rgb(73, 73, 73);
    border-right-width: 2px;
    
    height: 25%;
}

.lk{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.information{
    width: 100%;

    display: flex;

    justify-content: end;
}

.btn {
    border: 2px solid rgb(59,60,74); 
    border-radius: 4px;
    background-color: rgb(59,60,74);
    padding: 4px 8px;
    font-size: 10px;
    cursor: pointer;
    margin-right: 10px;
}

.btn-blue{
    border: 2px solid rgba(107, 105, 249, 1);
    border-radius: 4px;
    background-color: rgba(107, 105, 249, 1);
    cursor: pointer;
    color: #FFFFFF;

    padding: 8px 10px;
    font-size: 10px;
    margin: 5px;
    width: 100%;
}

.btn-blue:hover{
    background-color: rgb(74, 71, 253);
}

.btn-blue:active{
    background-color: rgba(107, 105, 249, 1);

}

.allButton{
    padding: 8px 20px;
    white-space: nowrap;
}

.pro{
    padding: 2px 8px;
    margin-right: 45px;
    width: 40px;
}

.info {
    color: rgb(238, 234, 234);
}

.info:hover {
    background-color: #7e7e7e;
    color: white;
}

.icon{
    background-image: url(./images/Group_6.svg);
    background-repeat: no-repeat;
    background-size: auto;
    padding: 5px 25px 5px 0;
}

.mcqueen{
    padding: 4px 8px 4px 0px;
}

.photo{
    width: 44px;
    height: 44px;

    background-image: url(./images/avatar.svg);
}

.data{
    max-width: 190px;
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.data-name{
    display: flex;
    align-items: center;
}

.profile{
    display: flex;
    align-items: center;
    justify-content: end;
}

.oval{
    background-image: url(./images/Oval.svg);
    background-repeat: no-repeat;
    background-size: auto;
}

.name, .online{
    width: 90px;
    font-size: 14px;
    font-weight: 300;
    margin: 0;
}

.online{
    color: #24CB8D;
}
  
ul#menu, ul#menu ul {
    list-style-type:none;
    max-width: 320px;
    margin: 0 auto;
    padding: 0;
    padding-bottom: 20px;
}

ul#menu{
    box-shadow: 0 1px 0 0 rgb(65,66,80); 
    margin: 0;
    width: 100%;   
}
   
ul#menu ul {
    display: none;
}
   
ul#menu li.selected ul {
    display: block;
}
   
ul#menu a {
    display: block;
    text-decoration: none;  
}
   
ul#menu li {
    margin-top: 1px;
}
   
ul#menu li a img {
    vertical-align: middle;
    padding: 0 25px 5px 0;
}
   
ul#menu li a {
    background: rgb(47,48,65);
    color: #fff;  
    padding: 6px 25px;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    transition: 0.1s;
    font-size: 14px; 
    font-weight: 300;
    text-transform: uppercase;
}
   
ul#menu li a:hover {
    background: rgb(55,57,73);
    border-left: 3px solid #FFFFFF;
}
   
ul#menu li ul li a {
    background: rgb(47,48,65);
    color: rgb(152,153,161);
    padding-left: 20%;
}
   
ul#menu li ul li a:hover {
    background: rgb(55,57,73);
    color: rgb(243, 241, 241);
    padding-left: 15%;
}
   
ul#menu li > ul li a:after { 
    content: '';
}  
    
.deactive:after {
    content: 'Ʌ';
    color: #fff;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
   
.active:after {
    content: "v";
    color: #fff;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.mailing-list{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px 30px 25px 30px;
}

.mail{
    margin: 5% 0;
}

.gray{
    margin: 0;

    font-size: 14px;
    font-weight: 300;
    color: rgb(154,155,163);
    line-height: 14px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(156, 165, 236, 0.04);
    border: 1px solid #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 2px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #2196F3;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}
  
  /* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

.container{
    display: flex;
    flex-direction: column;

    max-width: 90%;
    margin: 40px 55px 60px;
}

.lvl{
    margin: 0;
    font-size: 11px;
    text-transform: uppercase;
}

.big-name{
    color: #fff;
    margin: 1% 0;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
}

.container-name{
    display: flex;
    justify-content: space-between;
}

.all{
    display: flex;
    align-items: center;
}

.arrow {
    text-decoration: none;
    display: inline-block;
    padding: 4px 12px;
    border: 2px solid rgb(80,81,92);
    border-radius: 15%;
    font-size: 18px;
    background-color: #2B2C3A;

    margin: 5px;
}

.arrow:hover {
    background-color: #ddd;
    color: black;
}

.arrow:active{
    background-color: #2B2C3A;

}

.previous {
    color: white;
}

.next {
    color: white;
}

.class-event, .lectures{
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

.class-event{
    justify-content: space-around;
}

.class-li-lecture{
    width: 100%;
    background-color: rgb(55,56,70);
    border-radius: 10px;
    margin-right: 1%;
}

.lecture{
    position: relative;
    width: 270px;
    height: 144px;
}

/* .one{
    background: url(./images/img.png) no-repeat;
    background-size: cover;
}
/* .two{
    background: url(./images/img_1.png) no-repeat;
    background-size: cover;
}
.three{
    background: url(./images/img_2.png) no-repeat;
    background-size: cover;
}
.four{
    background: url(./images/img_3.png) no-repeat;
    background-size: cover;
} */

.img{
    width: 100%;
}

.div-lecture{
    position: absolute;
    top: 0;

    background-color: rgba(107, 105, 249, 1);
    padding: 2px 8px;
    border-radius: 4px;
    margin: 15px;
}

.lecture-name{
    margin: 5%;
    height: 17%;
}

.lecture-data{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 15px;

    border-top: 2px solid rgb(69,70,83);
}

.lecture-title{
    font-size: 13px;
    font-weight: 300;
}

.start{
    margin: 0;

    font-size: 13px;
    font-weight: 300;
}

.see{
    padding: 5px 5px;
    width: 40%;
    font-size: 13px;
    font-weight: 300;
}