body {
    width: 90%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: rgb(61, 59, 59);
    
}

header{
    text-align: center;
    margin: 5%;
    margin-bottom: 0;
    margin-top: 0;

}
ul {
    list-style-type: none;
}
.gray {
    display: flex;
    color: gray;
    padding: 10px;
    font-size: small;
    text-align: center;
    justify-content: space-between;
}

header a {
    text-decoration: none;
    color: gray;
    padding: 5px;
}

.bee {
    margin: 20px;
    margin-bottom: 0%;
    padding-bottom: 0%;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 80px;
    color: rgb(61, 59, 59);
}

main {
    margin: 5%;
    margin-bottom: 0;
    margin-top: 0;
}

.home {
    color: white;
    background-color: rgb(61, 59, 59);
    font-weight: 300;
    margin: 0%;
}

.home li{
    display: inline-block;
    margin: 10px;
    padding: 10px;
    font-weight: 500;
}
.home a{
    color: aliceblue;
    text-decoration: none;
}

h2 {
    font-size: 3rem;
    font-weight: 900;
}

h3 {
    font-weight: 500;
}

/* .headline{
    font-size: 48px;
    margin: 0%;
}

.thin {
    font-weight: 400;
}
 */
.Big {
    display: flex;
    justify-content: center;
    padding: 0px;
    margin: 5px;
}

.Big li{
    padding: 5px;
}

.Small {
    display: flex;
    justify-content: center;
    padding: 0px;
    margin: 5px;
}

.Small li{
    padding: 5px;
}
.chapter{
    background-color: rgb(61, 59, 59);
    color: rgb(165, 163, 163);
    text-align: center;
    padding: 40px;
}

