.green, #description span {
    color: green;
}

.red, #description p {
    color: red;
}

.blue {
    color: blue;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

#description::first-line {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

span + span {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}