/* @font-face {
font-family: Название;
font-style: Стиль шрифта (курсив/обычный);
font-weight: Толщина;
src: local() - найти в предустановленных, url() - путь до
шрифта;
} */

@font-face {
font-family: 'Roboto light';
font-style: normal;
font-weight: 300;
src: url(Fonts/Roboto-Light.woff2);
}


@font-face {
    font-family: 'Roboto Regular';
    font-style: normal;
    font-weight: 400;
    src:url(Fonts/Roboto-Regular.woff);
}    
@font-face {
    font-family: 'Вырвиглаз';
    font-style: normal;
    font-weight: 900;
    src:url(Fonts/SyneTactile-Regular.ttf);
    }

.bold {
    font-family: 'Roboto', sans-serif;
}

.light {
    font-family: 'Roboto light', sans-serif;

}

.regular {
    font-family: 'Roboto Regular', sans-serif;
}

.some {
    font-family: 'Вырвиглаз';
}
div {
    width: 50%;
}