body {
    width: 1200px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: rgb(61, 59, 59);
}

header{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
}
.gray {
    list-style-type: none;
    color: gray;
    padding: 10px;
    font-size: small;
    text-align: center;
}

.about {
display: inline;
margin: 10px;
margin-left: 30px;
    
}

.contacts{
    display: inline;
    margin: 20px;
}

.bee {
    margin: 20px;
    margin-bottom: 0%;
    padding-bottom: 0%;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 80px;
    color: rgb(61, 59, 59);
}

main {
    margin: 5%;
    margin-bottom: 0;
    margin-top: 0;
}

.home {
    color: white;
    background-color: rgb(61, 59, 59);
    font-weight: 300;
    margin: 0%;
}

.headline{
    font-size: 48px;
    margin: 0%;
}

.thin {
    font-weight: 400;
}


.chapter{
    background-color: rgb(61, 59, 59);
    color: rgb(165, 163, 163);
    text-align: center;
    width: 100%;
}