body {
    width: 90%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: rgb(61, 59, 59);
    
}

header{
    text-align: center;
    margin: 0 5%;

}
ul {
    list-style-type: none;
}
.gray {
    display: flex;
    color: gray;
    padding: 10px;
    font-size: small;
    text-align: center;
    justify-content: space-between;
}

header a {
    text-decoration: none;
    color: gray;
    padding: 5px;
}

.bee {
    margin: 20px;
    margin-bottom: 0%;
    padding-bottom: 0%;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 80px;
    color: rgb(61, 59, 59);
}

main {
    margin: 0 5%;
}

.home {
    color: white;
    background-color: rgb(61, 59, 59);
    font-weight: 300;
    margin: 0%;
}

.home li{
    display: inline-block;
    margin: 10px;
    padding: 10px;
    font-weight: 500;
}
.home a{
    color: aliceblue;
    text-decoration: none;
}

h2 {
    font-size: 3rem;
    font-weight: 900;
}

h3 {
    font-weight: 500;
}

.Big {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 5px;
}

.Big li{
    padding: 5px;
}

.Small {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 5px;
}

.Small li{
    padding: 5px;
} 

.chapter{
    background-color: rgb(61, 59, 59);
    color: rgb(165, 163, 163);
    text-align: center;
    padding: 40px;
}

.container_media {
    max-width: 350px;
    min-width: 350px;
    width: 50%;
    height: 200px;
    border: 1px solid rgb(165, 163, 163);
    margin: 50px auto;
}

.social {
    color:rgb(29, 29, 29);
    text-transform: uppercase;
    border-bottom: 3px solid rgb(22, 22, 22);
    font-weight: normal;
    padding-bottom: 5px;
    position: relative;
    margin: 15px;
}

.social:before {
  content: '';
  position: absolute;
  top: 100%;
  right: 0;
  border-bottom: 3px solid rgb(165, 163, 163);
  width: 50%;
}

.container_media img {
    width: 100%;
    max-width: 45px;
}

.container_media p{
    text-align: left;
}

.container_media ul{
    display: flex;
    padding: 0;
    margin: 10%;
}

.container_media li{
    width: 45px;
    margin: auto;
}

.container_users {
    max-width: 350px;
    min-width: 350px;
    width: 50%;
    height: 450px;
    border: 1px solid rgb(165, 163, 163);
    margin: 5% auto;
}

.users {
    color:rgb(29, 29, 29);
    text-transform: uppercase;
    border-bottom: 3px solid rgb(22, 22, 22);
    font-weight: normal;
    padding-bottom: 5px;
    position: relative;
    margin: 15px;
}

.users:before {
  content: '';
  position: absolute;
  top: 100%;
  right: 0;
  border-bottom: 3px solid rgb(165, 163, 163);
  width: 50%;
}

.container_users img {
    width: 45;
    height: 45;
    margin: 10px;
}

.user_name, .user_job{
    text-align: left;
    margin: 0;
    color: rgb(39, 39, 39);
}

.user_job{
    color: rgb(165, 163, 163);
    font-weight: 500;
}

.names{
    margin: 20px 10px;
}

.container_users br{
    color:rgb(165, 163, 163);
}

.container_users ul{
    display: block;
    padding: 0;
    margin: 10%;
}
.container_users li{
    display: flex;
}