
.examplee-1 {
    color: blue;
}
    
.examplee-1 {
    color: red;
}


.examplee-2 .Description {
    color: aqua;
}   

span {
    color: red;
}

.examplee-3 {
    color: darkblue;
}

.class {
    color: red;
}

#id {
    color: aqua;
}
